@import 'functions';

:host {
    width: 100%;
}

.form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input-wrapper {
        width: 60%;
    }
}
