<div class="form">
    <form class="form__input-wrapper"
    [formGroup]="form">
        <div class="form__input">
            <app-input [label]="'Email'"
                       [type]="'email'"
                       [formControlName]="'email'"
                       [placeholder]="'example@mail.com'">
                       <p error-message>
                        <span *ngIf="form.invalid">
                            This field is required
                        </span>
                       </p>
            </app-input>
        </div>

        <div class="form__input">
            <app-input [label]="'Password'"
                       [placeholder]="'*******'"
                       [type]="'password'"
                       [formControlName]="'password'">
            </app-input>
        </div>

        <div class="form__submit">
            <div class="form__submit-btn">
                <app-button [label]="'Sign in'"
                            [cssClass]="'btn__primary'"
                            [disabled]="form.invalid"
                            (clickEvent)="onSignIn()">
                </app-button>
            </div>

            <div class="form__register-btn">
                <app-button [label]="'Register'"
                            [cssClass]="'btn__tertiary'">
                </app-button>
            </div>

            <div class="form__forgot-password">
                <p>If you fogot your password click
                    <a href="#"
                       class="form__forgot-password-link">
                        here
                    </a>
                </p>
            </div>
        </div>
    </form>
</div>
