@import 'variables';
@import 'functions';
@import 'mixins';

.login {
    display: flex;
    height: 100vh;

    &__cover {
        display: none;

        @include breakpoint('tablet') {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            padding: rem(40px);
            background-color: $green-light-background;
        }

        @include breakpoint('tablet-wide') {
            width: 60%;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__message {
        color: $green-dark;
        width: 70%;
        margin-left: 10%;

        @include breakpoint('tablet-wide') {
            width: 55%;
        }
    }

    &__cover-image {
        height: rem(320px);
        margin-left: 20%;
        margin-top: rem(20px);
    }

    &__credentials {
        width: 100%;

        @include breakpoint("tablet") {
            width: 50%;
        }

        @include breakpoint('tablet-wide') {
            width: 40%;
        }
    }

    &__credentials-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    &__logo {
        height: rem(60px);
        width: auto;
        margin-bottom: rem(40px);
    }
}
