$base-size: 16px;

$breakpoints: (
    "phone": 400px,
    "phone-wide": 480px,
    "phablet": 560px,
    "tablet-small": 640px,
    "tablet": 768px,
    "tablet-wide": 1024px,
    "desktop": 1248px,
    "desktop-wide": 1440px
);

$black: #1E1E1E;
$white: white;

$green: #319988;
$green-light: #5BBDB6;
$green-light-background: #ECF9F7;
$green-dark: #337F7A;

$gray: #FBFBFD;

$cream: #F8F1EB;
$cream-font: #FFFFF9;

$organge: #FCB58A;

$blue: #110580;

$pink-light: #F0A6BA;
$pink-dark: #BE646D;

$red: #AE0F2C;
$red-ligtt: #F05967;

$yellow: #FDCF69;

$s-6: .375rem;
$s-8: .5rem;
$s-10: .625rem;
$s-12: .75rem;
$s-14: .875rem;
$s-20: 1.25rem;
